name: Workflow 3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: AshishGodse/SHA-Test-Repo-Common/.github/workflows/workflow-X.yml@932d2edb7480da31c75fad0aecf7fcf4fcc2bc11
    with:
      environment: production