name: Workflow 3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: AshishGodse/SHA-Test-Repo-Common/.github/workflows/workflow-X.yml@d3918e3abcbf45333da828e2118e01a777a8e966
    with:
      environment: production