name: Workflow 3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: AshishGodse/SHA-Test-Repo-Common/.github/workflows/workflow-X.yml@249af735e824c80cb256ee31cc45bd459e0b067a
    with:
      environment: production