name: Workflow 3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: AshishGodse/SHA-Test-Repo-Common/.github/workflows/workflow-X.yml@8e1d3592d9142d8cad09dc4701edcd40ca59fdef
    with:
      environment: production