name: Workflow 3

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: AshishGodse/SHA-Test-Repo-Common/.github/workflows/workflow-X.yml@cf1eb2a8a132e28742e1ca82c84e441a047ba835
    with:
      environment: production